@tailwind base;
@tailwind components;
@tailwind utilities;

/* PRODUCT DETAILS CAROUSEL STYLING CUSTOMIZATION START */
.productCarousel.carousel-root {
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
}
.productCarousel.carousel-root .carousel {
  width: auto;
}
.productCarousel.carousel-root .carousel.carousel-slider {
  width: 100%;
  height: 100%;
}
.productCarousel.carousel-root .carousel.carousel-slider .slider-wrapper {
  border-radius: 10px;
}
.productCarousel.carousel-root .carousel .thumbs-wrapper {
  margin: 0;
}
.productCarousel.carousel-root .carousel .thumb {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
  image-rendering: auto;
  position: relative;
}
.productCarousel.carousel-root .carousel .thumb img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}
.productCarousel.carousel-root .carousel .thumb:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0;
}
.productCarousel.carousel-root .carousel .thumb.selected,
.productCarousel.carousel-root .carousel .thumb:hover {
  border: 0;
}
.productCarousel.carousel-root .carousel .thumb:hover:after,
.productCarousel.carousel-root .carousel .thumb.selected:after {
  opacity: 0.2;
}
.productCarousel .control-arrow {
  display: none;
}

/**
 * Button.module.css
 *
 * @format
 */

.buttonCus {
  transition: transform 0.3s ease;
}

.buttonCus:active {
  transform: scale(0.95);
}
/** @format */

@media screen and (max-width: 767px) {
  .productCarousel.carousel-root {
    flex-direction: column;
  }
  .productCarousel.carousel-root .carousel .thumb {
    border: 0;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .productCarousel.carousel-root .carousel .thumbs {
    transform: none !important;
    flex-direction: column;
    display: flex;
    gap: 10px;
  }
  .productCarousel.carousel-root .carousel .thumb {
    border: 0;
    padding: 0;
    margin: 0;
  }
}
/* PRODUCT DETAILS CAROUSEL STYLING CUSTOMIZATION END */
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@layer components {
  .zoom-image [data-rmiz-modal-overlay='visible'] {
    @apply bg-background/10 backdrop-blur;
  }

  .zoom-image [data-rmiz-modal-img] {
    @apply rounded-md lg:rounded-2xl;
  }
}

.no-scroll {
  overflow: hidden;
  padding-right: var(--scrollbar-width);
}

@import '~@uploadthing/react/styles.css';
